div button:hover {
  cursor: pointer;
}

div input {
  background-color: white;
  font-size: 15px;
  outline: none;
  height: 30px;
 padding: 0 10px;
 font-weight: 400;
}

.agregar {  
  background-color: white ;
  font-family:'Times New Roman', Times, serif;  
  font-size: 15px;
  margin: 0 10px;
  border-radius: 8px;
 display: inline-block;
 text-align: right;
 height: 35px;
 padding: 0 10px;
 font-weight: 500;
}
.detector :hover{
  background-color: greenyellow;
}
