.div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: darkgoldenrod;
  margin: 0;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
}

.h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: black;
  font-size: 20px;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
}

.butonOnCloseContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.onClose {
  background-color: orangered;
  display: inline-block;
  border-radius: 5px;
  text-align: right;
  margin: 0 10px;
}

.img {
  border-radius: 8px;
}

.btnRed{
  
 

}
.btnWhite{

}