div button:hover {
  cursor: pointer;
}

div input {
  background-color: white;
  font-size: 15px;
}

.detector {  
  background-color: bisque;
  font-family:'Times New Roman', Times, serif;  
  font-size: 15px;
  margin: 0 10px;
  border-radius: 8px;
 display: inline-block;
 text-align: right;
}
