.nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.onSearch{
    background-color: bisque;
    font-family:'Times New Roman', Times, serif;  
    font-size: 15px;
    margin: 0 10px;
    border-radius: 8px;
   display: inline-block;
   text-align: right;
}

.btnHome{
    display: inline-block;
    width: 10%;
    background-color: rgb(202, 161, 240);
    font-family:'Times New Roman', Times, serif; 
   
}
.btnAbout{
    display: inline-block;
    width: 10%;
    background-color: rgb(248, 135, 135);
    font-family:'Times New Roman', Times, serif; 
   
}
.btnFavorites{
    display: inline-block;
    width: 10%;
    background-color: beige;
    font-family:'Times New Roman', Times, serif; 
}

h2{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
